# Question 1

### Level 1

**Question: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.**

Hints: Consider use range(#begin, #end) method

In [81]:
# my solution
sol_list = [str(num) for num in range(2000, 3201) if num%7==0 and not num%5==0]
print(",".join(sol_list))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [83]:
# their solution
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print(','.join(l))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

# Question 2

### Level 1

**Question: Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program: 8 Then, the output should be: 40320**

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [93]:
# my solutiuon
def fac(n):
    #base_case
    if n==0:
        return 1
    elif n<=1:
        return n
    return n*fac(n-1)

lst = [0,1,2,3,4,5]
lst_of_facs = list(map(fac,lst))

In [94]:
print(lst_of_facs)

[1, 1, 2, 6, 24, 120]

# Question 3

### Level 1

**Question: With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}**

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider use dict()

In [99]:
myDict = lambda x:{i:i*i for i in range(1,x+1)}

In [100]:
myDict(8)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# Question 4

### Level 1

**Question: Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the following input is supplied to the program: 34,67,55,33,12,98 Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')**

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. tuple() method can convert list to tuple

In [106]:
def inp(args):
    lst = args.split(",")
    tup = tuple(lst)
    return lst, tup

out=inp(input())
print(out[0],out[1],sep="")

 34,67,55,33,12,98

['34', '67', '55', '33', '12', '98']('34', '67', '55', '33', '12', '98')

# Question 5

### Level 1

**Question: Define a class which has at least two methods: getString: to get a string from console input printString: to print the string in upper case. Also please include simple test function to test the class methods.**

Hints: Use init method to construct some parameters

In [108]:
class MyClass:
    def __init__(self):
        self.string = ""
        
    def getString(self):
        self.string = input()
        
    def printString(self):
        print(self.string.upper())
        return self.string.upper()

def test_case():
    try:
        print(MyClass.printString(myobj)==myobj.string.upper())
    except:
        myobj = MyClass()
        myobj.getString()
        print(MyClass.printString(myobj)==myobj.string.upper())
        
test_case()

 abir

ABIR
True

# Question 6

### Level 2

**Question: Write a program that calculates and prints the value according to the given formula: Q = Square root of [(2 * C * D)/H] Following are the fixed values of C and H: C is 50. H is 30. D is the variable whose values should be input to your program in a comma-separated sequence. Example Let us assume the following comma separated input sequence is given to the program: 100,150,180 The output of the program should be: 18,22,24**

Hints: If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26) In case of input data being supplied to the question, it should be assumed to be a console input.

In [119]:
def outQ(D, C=50, H=30):
    lstD = D.split(",")
    lstQ = [int(((2*C*int(D))/H)**(0.5)) for D in lstD]
    return lstQ

print(",".join([str(num) for num in outQ(input())]))

 100,150,180

18,22,24

# Question 7

### Level 2

**Question: Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. Note: i=0,1.., X-1; j=0,1,¡­Y-1. Example Suppose the following inputs are given to the program: 3,5 Then, the output of the program should be: [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]**

Hints: Note: In case of input data being supplied to the question, it should be assumed to be a console input in a comma-separated form.

In [122]:
def twoDarray(args):
    lst = args.split(",")
    lst = [int(num) for num in lst]
    #0 0 0 0 0
    #0 1 2 3 4
    #0 2 4 6 8
    
    # i = 0,1,2
    # j = 0, 1, 2, 3, 4
    
    # 0*0 0*1 0*2 0*3 0*4
    # 1*0 1*1 1*2 1*3 1*4
    outer = list()
    for i in range(0,lst[0]):
        outer.append([i*j for j in range(0,lst[1])])
    return outer
twoDarray(input())

 3,5

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

# Question 8

### Level 2

**Question: Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically. Suppose the following input is supplied to the program: without,hello,bag,world Then, the output should be: bag,hello,without,world**

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [124]:
def sort_string(string):
    lst = string.split(",")
    lst.sort(key=str.lower)
    return ",".join(lst)
print(sort_string(input()))

 without,hello,bag,world

bag,hello,without,world

# Question 9

### Level 2

**Question£º Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized. Suppose the following input is supplied to the program: Hello world Practice makes perfect Then, the output should be: HELLO WORLD PRACTICE MAKES PERFECT**

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [126]:
print(" ".join(list(map(lambda x:x.upper(), input().split()))))

 Hello world Practice makes perfect

HELLO WORLD PRACTICE MAKES PERFECT

# Question 10

### Level 2

**Question: Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the program: hello world and practice makes perfect and hello world again Then, the output should be: again and hello makes perfect practice world**

Hints: In case of input data being supplied to the question, it should be assumed to be a console input. We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [130]:
print(" ".join(sorted([word for word in set(input().split())])))

 hello world and practice makes perfect and hello world again

again and hello makes perfect practice world